{% extends "base.html" %}

{% block title %}SuperLib{% endblock %}

{% block content %}
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
  data-image-src="img/hero.jpg">
  <form class="d-flex tm-search-form" onsubmit="return on_submit()">
    <input id="search" class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success tm-search-btn" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <script>
    let searchbox = document.getElementById('search');
    function on_submit() {
      let encoded = searchbox.value.replace(/\s+/g, '-');
      window.location = '/?query=' + encoded;
      return false;
    }
  </script>
</div>

<div class="container-fluid tm-container-content tm-mt-60">
  <div class="row mb-4">
    <h2 class="col-6 tm-text-primary">
      New books
    </h2>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <div class="mx-3">
        <form method="GET" action="/interesting">
          <button class="btn">Show interesting</button>
        </form>
        <script>
          let current_page = '{{ current_page }}'
          function on_select_change(value) {
            window.location = '/?page=' + current_page + '&category=' + value
          }
        </script>
        <select class="form-control" id="contact-select" name="inquiry" onchange="on_select_change(this.value)">
          <option value="none">none</option>
          {% for category in categories %}
          <option value="{{ category.name }}" {% if category.name==current_category %}selected="selected" {% endif %}>
            {{ category.name }}</option>
          {% endfor %}
        </select>
      </div>
      <form action="" class="tm-text-primary">
        Page <input type="text" value="{{ current_page }}" size="1" class="tm-input-paging tm-text-primary"> of {{
        pages_count }}
      </form>
    </div>
  </div>
  <div class="row tm-mb-90 tm-gallery">
    {% for book in books %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img src="{{ book.image_url }}" alt="Image" class="img-fluid"
          style="height: 200px; width: 400px; object-fit: none; object-position: center">
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2>{{ book.title }}</h2>
          <a href="/book/{{ book.isbn }}">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">18 Oct 2020</span>
        <span>{{ book.views }} views</span>
      </div>
    </div>
    {% endfor %}
  </div> <!-- row -->
  <div class="row tm-mb-90">
    <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
      <a href="{% if current_page != 1 %}/?page={{ current_page - 1 }}{% endif %}"
        class="btn btn-primary tm-btn-prev mb-2 {% if current_page == 1 %} disabled {% endif %}">Previous</a>
      <div class="tm-paging d-flex">
        {% for page in pages %}
        <a href="/?page={{page}}&category={{current_category}}"
          class="tm-paging-link {% if current_page == page %} active {% endif %}">{{ page }}</a>
        {% endfor %}
      </div>
      <a href="{% if current_page != pages_count %}/?page={{ current_page + 1 }}&category={{current_category}}{% endif %}"
        class="btn btn-primary tm-btn-next {% if current_page == pages_count %} disabled {% endif %}">Next Page</a>
    </div>
  </div>
</div> <!-- container-fluid, tm-container-content -->
{% endblock %}